pandas
numpy
google-cloud-storage
pyspark
sklearn
plotly
seaborn
matplotlib
https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
folium==0.2.1
markupsafe==2.0.1
imbalanced-learn
scikit-learn-extra
factor_analyzer
category_encoders
s-dbw
imbalanced-learn
scikit-learn-extra
factor_analyzer
prince
selenium
pickle5
pyyaml==5.4.1